/*font-family: 'Nunito Sans', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

:root{
    --col-main: #ff0000;
    --col-second: #28272C;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: font-family: 'Open Sans', sans-serif;

}

.container {
    max-height: 1088px;
    margin: 0 auto;
}